body{
    font-family: sans-serif, 'Segoe UI';
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;

}
header{
    background-color: #1e90ff;
    color:white;
    padding: 2rem 0;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100px;
    margin: 0 auto;
    pad: 0 2rem;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;

}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.hero{
    padding: 2rem;

}
.hero h2{
    margin-bottom: 0.5rem;

}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    color: #1e90ff;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}
.section{
    padding: 3rem 2rem;
    text-align: center;
    background: white;
    margin-bottom: 1rem;

}
.features-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
.Feature-box{
    background: #1e90ff;
    color: white;
    padding: 1.5rem;
    border-radius: 8px;
    width: 150px;

}
footer{
    background-color:#333 ;
    color: white;
    text-align: center;
    padding: 1rem;
}